.submit-form {
  max-width: 360px;
  margin: auto;
}

// footer{
//   margin-top: 380px;
// }

.success{
  border: 1px solid greenyellow;
  }
  .text-error{
      color: red;
  }

#invalid{
  margin-top: 6px;
}

footer{
  display: flex;
  background: url('../../images/banniere2.png') no-repeat;
  background-position: bottom;
  background-size: cover;
  justify-content: space-between;
  margin-top: 30px;
  height: 250px;
  bottom: 100%;
}