<div class="list row">
  <div class="col-md-12">
    <h4 class="text-center">Ajouter un utilisateur</h4>
    <hr>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="title">Login:</label>
          <input
            type="email"
            class="form-control"
            id="login"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            required
            [(ngModel)]="utilisateur.login"
            #emailref="ngModel"
            name="login"
            placeholder="Renseigner le login de l'utilisateur"
            [class.success]="!emailref.invalid"
          />

          <div id="invalid" *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class ="text-error">
            Invalid email ...
         </div>
        </div>

        <div class="form-group">
            <label for="title">Mot de passe:</label>
            <input
              type="text"
              class="form-control"
              id="mdp"
              required
              [(ngModel)]="utilisateur.mdp"
              name="mdp"
              placeholder="Renseigner le mot de passe de l'utilisateur"
            />
          </div>

          <div class="form-group">
            <label for="title">Nom:</label>
            <input
              type="text"
              class="form-control"
              id="nom"
              required
              [(ngModel)]="utilisateur.nom"
              name="nom"
              placeholder="Renseigner le nom de l'utilisateur"
            />
          </div>

          <div class="form-group">
            <label for="title">Prénom:</label>
            <input
              type="text"
              class="form-control"
              id="prenom"
              required
              [(ngModel)]="utilisateur.prenom"
              name="prenom"
              placeholder="Renseigner le prénom de l'utilisateur"
            />
          </div>

          <div class="form-group">
            <label for="title">Numéro de téléphone:</label>
            <input
              type="text"
              class="form-control"
              id="telephone"
              required
              [(ngModel)]="utilisateur.telephone"
              name="telephone"
              placeholder="Renseigner le numéro de téléphone de l'utilisateur"
            />
          </div>

          <div class="form-group">
            <input
              type="hidden"
              class="form-control"
              id="statut"
              required
              [ngModel]="statut" 
              name="statut"
              placeholder=""
            />
          </div>

          <div class="form-group">
            <label for="title">Rôle:</label>
            <input
              type="text"
              class="form-control"
              list="datalistOptions"
              id="role"
              required
              [(ngModel)]="utilisateur.roleNom"
              name="role"
              placeholder="Renseigner le rôle de l'utilisateur"
            />

            <datalist id="role">
              <app-roles-liste>
              <option *ngFor="let role of roleTab" [value]="role.nom">{{role.nom}}</option>
            </app-roles-liste>
           </datalist>  
          </div>

          
        <button (click)="saveUser()" class="btn btn-success">Ajouter</button>
      </div>
      <p-toast position="top-right"></p-toast>

      <div *ngIf="submitted === true">
        <div class="alert alert-success" role="alert">
          L'utilisateur a été crée avec succès !
        </div>
        <button class="btn btn-success" (click)="newUser()">Ok</button>
      </div> 
    </div>
  </div>
</div>

<footer></footer>
