<div  id='div1' *ngIf="viewMode; else editable">
    <div *ngIf="currentRole.role_id">
      <h4>Détail du rôle</h4>
      <div>
        <label><strong>Nom:</strong></label> {{ currentRole.nom }}
        <br>
        <label><strong>Statut:</strong></label> {{ currentRole.statut }}
      </div>
       <!-- <a class="badge badge-warning mr-2" routerLink="{{ currentRole.role_id }}">Edit</a> -->


      <button  *ngIf=" currentRole.statut === 'Actif'" type="button" class="btn btn-warning btn-sm mr-2" routerLink="{{ currentRole.role_id }}">Mettre à jour</button>
      <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
      <button  *ngIf=" currentRole.statut === 'Actif'" class="btn btn-danger btn-sm mr-2" (click)="confirm2()" >Supprimer</button>
      <button *ngIf=" currentRole.statut === 'Actif'" type="button" class="btn btn-primary btn-sm mr-2" (click)="disabled()">Désactiver</button>
      <button  *ngIf=" currentRole.statut === 'Inactif'" type="button" class="btn btn-primary btn-sm mr-2" (click)="enable()">Activer</button>
      <p-toast position="top-right"></p-toast>


      
      <hr>
  </div>
  <div *ngIf="!currentRole.role_id">
    <br />
    <div class="alert alert-warning" role="alert">
      Cliquez sur un rôle...
    </div>
    <!-- <p>Cliquez sur un rôle...</p> -->
  </div>
</div>


<!----------------------------- Edit ------------------------------------->

<ng-template #editable>
  <div *ngIf="currentRole.role_id" class="edit-form">
    <h4 class="text-center">Rôle</h4>
    <hr>
    <form>
      <div class="form-group">
        <label for="title">Nom</label>
        <input
          type="text"
          class="form-control"
          id="nom"
          [(ngModel)]="currentRole.nom"
          name="nom"
        />
      </div>

      <div class="form-group">
        <label for="title">Statut</label>
        <input
          type="text"
          class="form-control"
          id="statut"
          [(ngModel)]="currentRole.statut"
          name="statut"
        />
      </div>
    </form>
    <!-- <button class="btn btn-danger btn-sm mr-2" (click)="deleteRole()">
      Supprimer
    </button> -->
    <button
      type="submit"
      class="btn btn-success btn-sm mr-2"
      (click)="updateRole()"
    >
      Mettre à jour
    </button>


    <div *ngIf="update">
      <div class="alert alert-success mt-3" role="alert">
        Le rôle a été mis à jour avec succès !
      </div>
    </div>
    <!-- <p>{{ message }}</p> -->
  </div>
  <div *ngIf="!currentRole.role_id">
    <br />
    <div class="alert alert-danger" role="alert">
      Vous ne pouvez pas supprimer ce rôle car il est attribué à un utilisateur !
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
  <footer></footer>
</ng-template>

