<div>
    <h4 class="text-center">Ajouter un produit</h4>
    <hr>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="title">Nom du produit:</label>
          <input
            type="text"
            class="form-control"
            list="datalistOptions"
            id="produitNom"
            required
            [(ngModel)]="commandeProduit.produitNom"
            name="produitNom"
            placeholder="Renseigner le nom du produit de la commande"
          />

        <datalist id="produit">
          <app-produits-liste>
          <option *ngFor="let produit of tab" [value]="produit.nom" >{{produit.nom}}</option>
        </app-produits-liste>
       </datalist>  
      </div>

          <div class="form-group">
            <label for="title">Quantité (Kg):</label>
            <input
              type="number"
              class="form-control"
              id="quantitekg"
              required
              [(ngModel)]="commandeProduit.quantitekg"
              name="quantitekg"
              placeholder="Renseigner le nom du produit de la commande"
            />
          </div>

<!-- Formulaire commande ----------------------------------------->

          <h4 class="text-center">Dans une commande</h4>
          <hr>

          <div class="form-group">
            <label for="title">Date:</label>
            <input
              type="date"
              class="form-control"
              id="date"
              required
              [(ngModel)]="commande.date"
              name="date"
              placeholder="Renseigner la date de la commande"
            />
          </div>

            <div class="form-group">
              <label for="title">Passé par:</label>
              <input
                type="text"
                class="form-control"
                list="utilisateurliste"
                id="utilisateurLogin"
                required
                [(ngModel)]="commande.utilisateurLogin"
                name="utilisateurLogin"
                placeholder="Renseigner le login de l'utilisateur qui a passé de la commande"
              />

              <datalist id="utilisateurliste">
                <ng-container  *ngFor="let utilisateur of tabUtilisateur">
                  <option *ngIf="utilisateur.statut === 'Actif'" [value]="utilisateur.login">{{utilisateur.login}}</option>
                </ng-container>
             </datalist>  
            </div>



            <div class="form-group">
              <label for="title">A:</label>
              <input
                type="text"
                class="form-control"
                list="fournisseurListe"
                id="fournisseurMail"  
                required
                [(ngModel)]="commande.fournisseurMail"
                name="fournisseurMail"
                placeholder="Renseigner le mail du fournisseur de la commande"
              />

              <datalist id="fournisseurListe">
                <ng-container  *ngFor="let fournisseur of tabFournisseur">
                  <option *ngIf="fournisseur.statut === 'Actif'" [value]="fournisseur.mail">{{fournisseur.mail}}</option>
                </ng-container>
             </datalist>   
            </div>

        <button (click)="save()" class="btn btn-success">Ajouter</button>
        <p-toast position="top-right"></p-toast>
      </div>
    
      <div *ngIf="submitted === true && alert === false">
        <div class="alert alert-success" role="alert">
          {{successText}}
        </div>
        <button class="btn btn-success" (click)="newCommandeProduit()">Ok</button>
      </div> 



      <div *ngIf="alert === true">
        <div class="alert alert-danger mt-3" role="alert">
          {{errorText}}
        </div>
        <button class="btn btn-success" (click)="newCommandeProduit()">Ok</button>
      </div> 


      <div *ngIf="commandeSubmitted === true">
        <div class="alert alert-danger mt-3" role="alert">
          Veuillez renseigner tout les champs !
        </div>
      </div> 
    </div>
  </div>

  <div  class="col-md-12 mt-5">
    <h4 class="mb-3">Vue général de la commande</h4>    
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>Produit</th>
          <th>Quantité</th>
          <th>Date</th>
          <th>N° commande</th>
          <th>Fait par</th>
          <th>Fournisseur</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tab of tabCommandeProduit">
          <td>{{tab.produit.nom}}</td>
          <td>{{tab.quantitekg}}Kg</td>
          <td>{{tab.commande.date}}</td>
          <td>{{tab.commande.commande_id}}</td>
          <td>{{tab.commande.utilisateur.login}}</td>
          <td>{{tab.commande.fournisseur.mail}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <footer></footer>