<!-- 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BIOMARKET</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Rôles
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li class="nav-item"><a class="dropdown-item" href="#" routerLink="roles">All Rôles</a></li>
            <li class="nav-item"><a class="dropdown-item" href="#" routerLink="add">Add Rôle</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Fournisseur
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li class="nav-item"><a class="dropdown-item" href="#" routerLink="fournisseurs">All Fournisseur</a></li>
            <li class="nav-item"><a class="dropdown-item" href="#" routerLink="addFournisseurs">Add Fournisseur</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Produit
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li class="nav-item"><a class="dropdown-item" href="#" routerLink="produits">All Produit</a></li>
            <li class="nav-item"><a class="dropdown-item" href="#" routerLink="addProduit">Add Produit</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Utilisateur
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li class="nav-item"><a class="dropdown-item" href="#" routerLink="utilisateurs">All Utilisateur</a></li>
            <li class="nav-item"><a class="dropdown-item" href="#" routerLink="addUtilisateurs">Add Utilisateur</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Client
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li class="nav-item"><a class="dropdown-item" href="#" routerLink="clients">All Client</a></li>
            <li class="nav-item"><a class="dropdown-item" href="#" routerLink="addClient">Add Client</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Vente
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li class="nav-item"><a class="dropdown-item" href="#" routerLink="ventes">All Vente</a></li>
            <li class="nav-item"><a class="dropdown-item" href="#" routerLink="addVente">Add Vente</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ProduitVente
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li class="nav-item"><a class="dropdown-item" href="#" routerLink="produitsVentes">All ProduitVente</a></li>
            <li class="nav-item"><a class="dropdown-item" href="#" routerLink="addProduitVente">Add ProduitVente</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Commande
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li class="nav-item"><a class="dropdown-item" href="#" routerLink="commandes">All Commande</a></li>
            <li class="nav-item"><a class="dropdown-item" href="#" routerLink="addCommande">Add Commande</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            CommandeProduit
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li class="nav-item"><a class="dropdown-item" href="#" routerLink="commandesProduits">All CommandeProduit</a></li>
            <li class="nav-item"><a class="dropdown-item" href="#" routerLink="addCommandeProduit">Add CommandeProduit</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div> -->


<app-navbar></app-navbar>
<app-sidebar1></app-sidebar1>


<footer>
</footer>

