body{
        overflow-x: hidden;
}

footer{
        display: flex;
        background: url('images/banniere2.png') no-repeat;
        background-position: bottom;
        background-size: cover;
        margin-top: 175px;
        justify-content: space-between;
        height: 250px;
        bottom: 100%;
}
