<div class="list row">
  <div class="col-md-12">
    <h4 class="text-center">Ajouter un produit</h4>
    <hr>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="title">Nom du produit:</label>
          <input
            type="text"
            class="form-control"
            list="produitListe"
            id="produitNom"
            required
            [(ngModel)]="produitVente.produitNom"
            name="produitNom"
            placeholder="Renseigner le nom du produit de la vente"
          />

          <datalist id="produitListe">
            <ng-container  *ngFor="let produit of tabProduit">
              <option *ngIf="produit.statut === 'Actif'" [value]="produit.nom">{{produit.nom}}</option>
            </ng-container>
         </datalist> 
        </div>

          <div class="form-group">
            <label for="title">Quantité (Kg:)</label>
            <input
              type="number"
              class="form-control"
              id="quantitekg"
              required
              [(ngModel)]="produitVente.quantitekg"
              name="quantitekg"
              placeholder="Renseigner le nom du produit de la vente"
            />
          </div>

<!-- Formulaire Vente ------------------------------------------------------------------------->

        <h4 class="text-center">Dans une vente</h4>
        <hr>

        <div class="form-group">
          <label for="title">Faite le:</label>
          <input
            type="date"
            class="form-control"
            id="date"
            required
            [(ngModel)]="vente.date"
            name="date"
            placeholder="Renseigner le date de la vente"
          />
        </div>

        <div class="form-group">
          <label for="title">Fait par:</label>
          <input
            type="text"
            class="form-control"
            list="utilisateurListe"
            id="utilisateurLogin"
            required
            [(ngModel)]="vente.utilisateurLogin"
            name="utilisateurLogin"
            placeholder="Renseigner le login de l'utilisateur qui a fait la vente"
          />


          <datalist id="utilisateurListe">
            <ng-container  *ngFor="let utilisateur of tabUtilisateur">
              <option *ngIf="utilisateur.statut === 'Actif'" [value]="utilisateur.login">{{utilisateur.login}}</option>
            </ng-container>
         </datalist>  
        </div>


        <div class="form-group">
          <label for="title">A:</label>
          <input
            type="text"
            class="form-control"
            list="clientListe"
            id="clientMail"
            required
            [(ngModel)]="vente.clientMail"
            name="clientMail"
            placeholder="Renseigner le mail du client de la vente"
          />

          <datalist id="clientListe">
            <ng-container  *ngFor="let client of tabClient">
              <option *ngIf="client.statut === 'Actif'" [value]="client.mail">{{client.mail}}</option>
            </ng-container>
         </datalist>  
        </div>


        <div class="form-group">
          <input
            type="hidden"
            class="form-control"
            id="statut"
            required
            [ngModel]="statut" 
            name="statut"
            placeholder=""
          />
        </div>

        <button (click)="save()" class="btn btn-success">Ajouter</button>
      </div>
      <p-toast position="top-right"></p-toast>
 
      <div *ngIf="submitted === true && alert === false">
        <div class="alert alert-success" role="alert">
          {{successText}}
        </div>
        <button class="btn btn-success" (click)="newProduitVente()">Ok</button>
      </div> 

      <div *ngIf="alert === true">
        <div class="alert alert-danger mt-3" role="alert">
          {{errorText}}
        </div>
        <button class="btn btn-success" (click)="newProduitVente()">Ok</button>
      </div> 
    </div>
  </div>

  <div *ngIf="tabbo === true"  class="col-md-12 mt-5" >
    <h4 class="mb-3">Vue général de la vente</h4>    
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>Produit</th>
          <th>Quantité</th>
          <th>Date</th>
          <th>N° vente</th>
          <th>Fait par</th>
          <th>Client</th>
          <th>Statut produit vente</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tab of tabProduitVente">
          <td>{{tab.produit.nom}}</td>
          <td>{{tab.quantitekg}}Kg</td>
          <td>{{tab.vente.date}}</td>
          <td>{{tab.vente.vente_id}}</td>
          <td>{{tab.vente.utilisateur.login}}</td>
          <td>{{tab.vente.client.mail}}</td>
          <td> <span [ngStyle]="{'color' : tab.statut === 'Vendu' ? 'green' : 'red'}">{{ tab.statut }}</span> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<footer></footer>