<!-------------------------------- Détail de l'objet ----------------------------------->

<div  id='div1' *ngIf="viewMode; else editable">
    <div *ngIf="currentProduitVente.id">
      <h4>Détail de la vente</h4>
      <div>
        <label><strong>Produit:</strong></label> {{ currentProduitVente.produit.nom }}
        <br>
        <label><strong>Quantité (Kg):</strong></label> {{ currentProduitVente.quantitekg }} Kg
        <br>
        <label><strong>Date de Vente:</strong></label> {{ currentProduitVente.vente.date }}
        <br>
        <label><strong>Numéro de Vente:</strong></label> {{ currentProduitVente.vente.vente_id }}
        <br>
        <label><strong>Fait par:</strong></label> {{ currentProduitVente.vente.utilisateur.login }}
        <br>
        <label><strong>A:</strong></label> {{ currentProduitVente.vente.client.mail}} | <strong>Tel:</strong> {{currentProduitVente.vente.client.telephone}}
      </div>
      <hr>
       <!-- <a class="badge badge-warning mr-2" routerLink="{{ currentCommandeProduit.id }}">Edit</a> -->
       <!-- <button type="button" class="btn btn-warning btn-sm mr-2" routerLink="{{ currentProduitVente.id}}">Edit</button>
       <button type="button" class="btn btn-danger btn-sm mr-2" (click)="delete()" routerLink="produitsVentes" >Supprimer</button> -->
  </div>
  <div *ngIf="!currentProduitVente.id">
    <br />
    <div class="alert alert-warning" role="alert">
      Cliquez sur une vente...
    </div>
    <!-- <p>Cliquez sur une vente...</p> -->
  </div>
</div>

<!----------------------------- Edit ------------------------------------->

<ng-template #editable>
  <div *ngIf="currentProduitVente.id" class="edit-form">
    <h4>Vente</h4>
    <form>
        <div class="form-group">
        <label for="title">Passé le:</label>
        <input
            type="date"
            class="form-control"
            id="venteDate"
            [(ngModel)]="currentProduitVente.vente.date"
            name="venteDate"
        />
        </div>

      <div class="form-group">
        <label for="description">Produit:</label>
        <input
          type="text"
          class="form-control"
          id="produitNom"
          [(ngModel)]="currentProduitVente.produit.nom"
          name="produitNom"
        />
      </div>

      <div class="form-group">
        <label for="description">Quantité (Kg):</label>
        <input
          type="number"
          class="form-control"
          id="quantitekg"
          [(ngModel)]="currentProduitVente.quantitekg"
          name="quantitekg"
        />
      </div>



<!-- Formulaire Vente ------------------------------------------------------------------------->

<!-- <div class="form-group">
  <label for="title">Faite le:</label>
  <input
    type="date"
    class="form-control"
    id="date"
    required
    [(ngModel)]="currentProduitVente.vente.date"
    name="date"
    placeholder="Renseigner lea date de la vente"
  />
</div> -->


<div class="form-group">
  <label for="title">Fait par:</label>
  <input
    type="text"
    class="form-control"
    id="utilisateurLogin"
    required
    [(ngModel)]="currentProduitVente.vente.utilisateur.login"
    name="utilisateurLogin"
  />
</div>


<div class="form-group">
  <label for="title">A:</label>
  <input
    type="text"
    class="form-control"
    id="clientMail"
    required
    [(ngModel)]="currentProduitVente.vente.client.mail"
    name="clientMail"
  />
</div>


<!----------------------------- Bouton update et delete  --------------------------->

    </form>
    <button class="badge badge-danger mr-2" (click)="delete()">
      Supprimer
    </button>
    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="update()"
    >
      Update
    </button>


    <div *ngIf="updateVente">
      <div class="alert alert-success mt-3" role="alert">
        La vente a été mise à jour avec succès !
    </div>

    <!-- <p>{{ message }}</p> -->
  </div>
  <div *ngIf="!currentProduitVente.id">
    <br />
    <p>Cannot access this vente...</p>
  </div>


