<nav>
    <ul>
      <li routerLink="utilisateurs">
        <div class="home-icon">
          <i class="fa-solid fa-user fa-2xl"></i>
        </div>
      </li>
      <li routerLink="roles">
        <div class="about-icon">
          <i class="fa-solid fa-at fa-2xl"></i>
        </div>
      </li>
      <li routerLink="fournisseurs">
        <div class="work-icon">
          <i class="fa-solid fa-handshake fa-2xl"></i>
        </div>
      </li>
      <li routerLink="clients">
        <div class="mail-icon">
          <i class="fa-solid fa-person fa-2xl"></i>
        </div>
      </li>
      <li routerLink="produits">
        <div class="mail-icon">
          <i class="fa-solid fa-apple-whole fa-2xl"></i>
        </div>
      </li>
      <li routerLink="commandesProduits">
        <div class="mail-icon">
          <i class="fa-solid fa-box-open fa-2xl"></i>
        </div>
      </li>
      <li routerLink="produitsVentes">
        <div class="mail-icon">
          <i class="fa-solid fa-thumbs-up fa-2xl"></i>
        </div>
      </li>
    </ul>
  </nav>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>



  <!-- <nav>
    <ul>
      <li>
        <div class="home-icon">
          <div class="roof">
            <div class="roof-edge"></div>
          </div>
          <div class="front"></div>
        </div>
      </li>
      <li>
        <div class="about-icon">
          <div class="head">
            <div class="eyes"></div>
            <div class="beard"></div>
          </div>
        </div>
      </li>
      <li>
        <div class="work-icon">
          <div class="paper"></div>
          <div class="lines"></div>
          <div class="lines"></div>
          <div class="lines"></div>
        </div>
      </li>
      <li>
        <div class="mail-icon">
          <div class="mail-base">
            <div class="mail-top"></div>
          </div>
        </div>
      </li>
    </ul>
  </nav> -->


