<!-------------------------------- Détail de l'objet ----------------------------------->

<div  id='div1' *ngIf="viewMode; else editable">
    <div *ngIf="currentCommandeProduit.id">
      <h4>Détail de la commande</h4>
      <div>
        <label><strong>Produit:</strong></label> {{ currentCommandeProduit.produit.nom }}  <span [ngStyle]="{'color' : currentCommandeProduit.produit.statut === 'Actif' ? 'green' : 'red'}">({{  currentCommandeProduit.produit.statut }})</span> 
        <br>
        <label><strong>Quantité (Kg):</strong></label> {{ currentCommandeProduit.quantitekg }} Kg
        <br>
        <label><strong>Date de Commande:</strong></label> {{ currentCommandeProduit.commande.date }}
        <br>
        <label><strong>Numéro de Commande:</strong></label> {{ currentCommandeProduit.commande.commande_id }}
        <br>
        <label><strong>Fait par:</strong></label> {{ currentCommandeProduit.commande.utilisateur.login }}  <span [ngStyle]="{'color' : currentCommandeProduit.commande.utilisateur.statut === 'Actif' ? 'green' : 'red'}">({{ currentCommandeProduit.commande.utilisateur.statut }})</span> 
        <br>
        <label><strong>A:</strong></label> {{ currentCommandeProduit.commande.fournisseur.mail}} <span [ngStyle]="{'color' : currentCommandeProduit.commande.fournisseur.statut === 'Actif' ? 'green' : 'red'}">({{ currentCommandeProduit.commande.fournisseur.statut }})</span> 
        <br>
        <label><strong>Statut:</strong></label>  <span [ngStyle]="{'color' : currentCommandeProduit.statut === 'En attente de confirmation ...' ? 'orange' : currentCommandeProduit.statut === 'Confirmé' ? 'green' :'red'}" > {{ currentCommandeProduit.statut }} </span>
      </div>
      <hr>

      <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
      <button *ngIf="currentCommandeProduit.statut === 'En attente de confirmation ...'" type="button" class="btn btn-primary btn-sm mr-2" (click)="confirm2()">Valider</button>
      <button *ngIf="currentCommandeProduit.statut === 'En attente de confirmation ...'" type="button" class="btn btn-danger btn-sm mr-2" (click)="confirm1()">Annuler</button>
      <p-toast position="top-right"></p-toast>

  </div>
  <div *ngIf="!currentCommandeProduit.id">
    <br />
    <div class="alert alert-warning" role="alert">
      Cliquez sur une commande...
    </div>
  </div>
</div>

<!----------------------------- Edit ------------------------------------->

<ng-template #editable>
  <div *ngIf="currentCommandeProduit.id" class="edit-form">
    <h4>Commande</h4>
    <form>
        <div class="form-group">
        <label for="title">Passé le:</label>
        <input
            type="date"
            class="form-control"
            id="commandeDate"
            [(ngModel)]="currentCommandeProduit.commande.date"
            name="commandeDate"
        />
        </div>

      <div class="form-group">
        <label for="description">Produit:</label>
        <input
          type="text"
          class="form-control"
          id="produitNom"
          [(ngModel)]="currentCommandeProduit.produit.nom"
          name="produitNom"
        />
      </div>

      <div class="form-group">
        <label for="description">Quantité (Kg):</label>
        <input
          type="number"
          class="form-control"
          id="quantitekg"
          [(ngModel)]="currentCommandeProduit.quantitekg"
          name="quantitekg"
        />
      </div>
<!----------------------------- Bouton update et delete  --------------------------->

    </form>
    <button class="btn btn-danger btn-sm mr-2" (click)="delete()">
      Supprimer
    </button>
    <button
      type="submit"
      class="btn btn-success btn-sm mr-2"
      (click)="update()"
    >
      Update
    </button>

    <div *ngIf="updateCommande">
      <div class="alert alert-success mt-3" role="alert">
        La commande a été mis à jour avec succès.
    </div>
  </div>
</div>
<footer></footer>
</ng-template>




