.submit-form {
  max-width: 360px;
  margin: auto;
}

// footer{
//   margin-top: 360px;
// }

footer{
  display: flex;
  background: url('../../images/banniere2.png') no-repeat;
  background-position: bottom;
  background-size: cover;
  margin-top: 30px;
  justify-content: space-between;
  height: 250px;
  bottom: 100%;
}



