<!-------------------------------- Détail de l'objet ----------------------------------->

<div  id='div1' *ngIf="viewMode; else editable">
    <div *ngIf="currentClient.client_id">
      <h4>Détail du client</h4>
      <div>
        <label><strong>Nom:</strong></label> {{ currentClient.nom }}
        <label><strong>Prenom:</strong></label> {{ currentClient.prenom }}
        <br>
        <label><strong>Code Postal:</strong></label> {{ currentClient.cp }}
        <br>
        <label><strong>Adresse:</strong></label> {{ currentClient.adresse }}
        <br>
        <label><strong>Ville:</strong></label> {{currentClient.ville}}
        <br>
        <label><strong>Mail:</strong></label> {{ currentClient.mail }}
        <br>
        <label><strong>Téléphone:</strong></label> {{ currentClient.telephone }}
        <br>
        <label><strong>Statut: </strong></label> <span [ngStyle]="{'color' : currentClient.statut === 'Actif' ? 'green' : 'red'}" > {{ currentClient.statut }} </span>
      </div>
      
       <button *ngIf=" currentClient.statut === 'Actif'" type="button" class="btn btn-warning btn-sm mr-2" routerLink="{{ currentClient.client_id }}">Mettre à jour</button>
       <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
       <button *ngIf=" currentClient.statut === 'Actif'" type="button" class="btn btn-danger btn-sm mr-2" (click)="confirm2()" >Supprimer</button>
       <button *ngIf=" currentClient.statut === 'Actif'" type="button" class="btn btn-primary btn-sm mr-2" (click)="disabled()">Désactiver</button>
       <button  *ngIf=" currentClient.statut === 'Inactif'" type="button" class="btn btn-primary btn-sm mr-2" (click)="enable()">Activer</button>
       <p-toast position="top-right"></p-toast>
       <hr>


  </div>
  <div *ngIf="!currentClient.client_id">
    <br />
    <div class="alert alert-warning" role="alert">
      Cliquez sur un client...
    </div>
  </div>
</div>

<!----------------------------- Edit ------------------------------------->

<ng-template #editable>
  <div *ngIf="currentClient.client_id" class="edit-form">
    <div class="list row">
      <div class="col-md-12">
    <h4 class="text-center">Client</h4>
    <hr>
    <form>
      <div class="form-group">
        <label for="title">Nom</label>
        <input
          type="text"
          class="form-control"
          id="nom"
          [(ngModel)]="currentClient.nom"
          name="nom"
        />
      </div>

      <div class="form-group">
        <label for="description">Code Postal</label>
        <input
          type="text"
          class="form-control"
          id="cp"
          [(ngModel)]="currentClient.cp"
          name="cp"
        />
      </div>
      <div class="form-group">
        <label for="description">Adresse</label>
        <input
          type="text"
          class="form-control"
          id="adresse"
          [(ngModel)]="currentClient.adresse"
          name="adresse"
        />
      </div>
      <div class="form-group">
        <label for="description">Ville</label>
        <input
          type="text"
          class="form-control"
          id="ville"
          [(ngModel)]="currentClient.ville"
          name="ville"
        />
      </div>
      <div class="form-group">
        <label for="description">Mail</label>
        <input
          type="text"
          class="form-control"
          id="mail"
          [(ngModel)]="currentClient.mail"
          name="mail"
        />
      </div>

      <!-- readonly="readonly" -->

      
      <div class="form-group">
        <label for="description">Téléphone</label>
        <input
          type="text"
          class="form-control"
          id="telephone"
          [(ngModel)]="currentClient.telephone"
          name="telephone"
        />
      </div>
    </form>

<!----------------------------- Bouton update  --------------------------->

  
    <button
      type="submit"
      class="btn btn-success btn-sm mr-2"
      (click)="update()"
    >
      Mettre à jour
    </button>
    <p-toast position="top-right"></p-toast>

    </div>
  </div>
</div>
<footer></footer>
</ng-template>


